@use 'sass:map';

html {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  scrollbar-gutter: stable;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--bg-primary-color);
  color: var(--fg-primary-color);
  font-size: map.get($font-sizes, 'base');

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    text-decoration-color: var(--fg-primary-color);
    caret-color: var(--fg-primary-color);
    font-family: 'Rubik';
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
label,
a,
img,
[role="button"] {
  user-select: none;
  -webkit-user-select: none;
}
