LLM_API_KEY=...
LLM_API_URL=https://aihubmix.com/v1
LLM_MODEL=gpt-5.4-mini
LLM_RAG_MODEL=text-embedding-3-small

MAPBOX_API_KEY=...
SERPER_API_KEY=...

TARGET_FILE=/home/injurka/Documents/obsidian-mark/Personal Note/Travel/-- Lost Horizon/02 - Маршрутный план/02 Куньмин (вс) ⛰️ Над водами Дяньчи.md
OUTPUT_DIR=/home/injurka/Documents/obsidian-mark/Personal Note/Travel/-- Lost Horizon/_/03



